# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini